<fuse-card class="flex flex-col filter-article justify-between content-between rounded-md relative h-full">
  <div
    class="absolute bg-cover w-full h-full top-0 left-0"
    [style.backgroundImage]="'url('+ item.image.url +')'">
    <div class="h-full w-full bg-gradient-to-b from-black opacity-70"></div>
  </div>
  <div class="flex-1 flex-col  m-8 mb-4 relative">
    <div class="flex items-center">
      <!--  -->

      <!-- ml-6 -->
      <div class="flex flex-col ">
        <div class="text-primary-500 font-extrabold uppercase text-md mb-2 ">report</div>
        <div class="text-4xl font-bold leading-tight line-clamp-2 text-white">
          <a [routerLink]="['/report', item.slug ]">{{ item.name }}</a>
        </div>

        <!-- <img
          class="rounded-md object-cover"
          [src]="item.image.url"
          alt="Card cover image"> -->
      </div>
    </div>
    <div class="mt-6 line-clamp-4 text-white">{{ item.description }}</div>
    <div class="mt-6 -my-4">
      <ng-container *ngIf="(item | ranksFilter: selectedCountry: filters); else subIndicatorTemplate">
        <button
          mat-flat-button
          [color]="'warn'"
          [routerLink]="['/report', item.slug ]">
          0 indicators match
        </button>
      </ng-container>
      <ng-template #subIndicatorTemplate>
        <button
          mat-flat-button
          [color]="'primary'"
          [routerLink]="['/report', item.slug ]">
          <ng-container *ngIf="filters && filters.length > 0; else fullIndicatorsTemplate">
            {{ item.indicators_count }} indicators match
          </ng-container>
          <ng-template #fullIndicatorsTemplate>
            {{ item | ranksCount: selectedCountry: filters }} sub indicators
          </ng-template>

        </button>

      </ng-template>

    </div>
  </div>
  <!-- bg-gray-100 dark:bg-opacity-10 -->
  <div class="flex flex-1 flex-col p-8 items-center relative mt-8 justify-end ">
    <!-- <div class="flex bg-white w-full p-4 rounded-md shadow-sm">
      <div class="flex flex-col text-center  ">
        <div class="bg-accent p-1 px-2 text-on-accent text-sm rounded-tl-sm rounded-tr-sm">Global ranking</div>
        <div class="text-3xl font-bold p-2 border-solid border-accent border-2 rounded-bl-sm rounded-br-sm text-accent">
          {{ item.ranks[0].rank }}<sup>st</sup>
        </div>
      </div>
      <div class="flex text-center flex-col flex-auto justify-center flex-1 text-accent">
        <div class="text-3xl font-bold leading-tight">{{ item.ranks[0].country_name }}</div>

        <div class="flex w-full justify-around">
          <div class="flex flex-col items-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Score</div>
            <div class="text-3xl font-semibold tracking-tight leading-tight">{{ item.ranks[0].score }}%</div>

          </div>
          <div class="flex flex-col items-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Trend</div>
            <div class="text-3xl font-semibold tracking-tight leading-tight">+{{ item.ranks[0].trend }}</div>

          </div>
        </div>
      </div>
      <div class="w-20 flex items-center ">
        <img
          [src]="'assets/images/countries/all/' + item.ranks[0].country_code + '/vector.svg'">
      </div>
    </div> -->

    <country-rank
      class="w-full"
      [rank]="activeRank"></country-rank>

    <!-- <div class="flex flex-col justify-end flex-auto w-full">
       <apx-chart
        class="flex-auto w-full max-h-16"
        [chart]="chartWeeklyExpenses.chart"
        [colors]="chartColors()"
        [series]="chartSeries()"
        [stroke]="chartWeeklyExpenses.stroke"
        [tooltip]="chartWeeklyExpenses.tooltip"
        [xaxis]="chartWeeklyExpenses.xaxis"
        [yaxis]="chartWeeklyExpenses.yaxis"></apx-chart>
    </div> -->
  </div>
</fuse-card>
