:host {
  .sun {
    &::ng-deep {
      .sunburst-viz {
        text {
          stroke: transparent !important;
          textPath {
            stroke: transparent !important;
          }
        }
      }
    }
  }
  countries-map {
    &::ng-deep {
      .countryxx{
        cursor: pointer !important;
      }
      path {
        stroke: transparent !important;
        &.countryxx {
          &:hover{
            stroke: #fff !important;

          }
        }
      }
      g {
        stroke: transparent !important;
        cursor: pointer;
        &:hover {
          path {
            stroke: #fff !important;
          }
        }
      }
    }
  }
}
